@import "../../styles/typography/typography";
@import "../../styles/mixin/mixin";

.hbg1-button {
    display: flex;
    align-items: flex-end;

    button {
        padding: 20px 47px;
        border-radius: 10px;
        background-color: var(--color-white);
        color: var(--color-black-light);
        border: 2px solid var(--color-black);
        @include font14;
        font-weight: 700;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--color-black);
            color: var(--color-white);
            transition: 0.3s ease-in-out;
        }

        @media (max-width: 1024px) {
            padding: 15px;
        }

        @media (max-width: 576px) {
            padding: 15px 35px;
        }
    }
}

.ogb-button {
    @include flex-center;

    button {
        padding: 10px 30px;
        border-radius: 10px;
        background-color: var(--color-black);
        color: var(--color-white);
        border: none;
        @include font14;
        font-weight: 700;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--bgcolor-button-hover);
            transition: 0.3s ease-in-out;
        }
    }
}

.groom-div-button {
    @include flex-center;
    gap: 20px;
    overflow: hidden;

    @media (max-width: 576px) {
        flex-wrap: wrap;
    }

    button {
        padding: 18px 42px;
        border-radius: 10px;
        background-color: var(--color-white);
        color: var(--color-black-light);
        border: 2px solid var(--color-white);
        @include font14;
        font-weight: 700;
        letter-spacing: 1.5px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:last-child {
            background-color: transparent;
            color: var(--color-white);
        }

        &:hover {
            background-color: var(--color-border-img);
            color: var(--color-white);
            border: 2px solid var(--color-border-img);
            transition: 0.3s ease-in-out;
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }
}

.contact-grid2-button {
    button {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--color-gray-header);
        color: var(--color-white);
        border: none;
        @include font18;
        font-weight: 500;
        letter-spacing: 1.5px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--color-border-img);
            color: var(--color-black-light);
            transition: 0.3s ease-in-out;
        }
    }
}
