:root {
    --color-black: #000;
    --color-black-dull: rgba(0, 0, 0, 0.7);
    --color-black-light: #111111;
    --color-white: #fff;
    --color-gray-header: #9d9570;
    --color-ancer: #757575;

    --color-border-dotted: #d0c9ac;
    --color-border-img: #a0c6b9;

    --color-box-shadow: rgba(0, 0, 0, 0.24);

    --bgcolor-header-respo: #f2f2f2;

    --bgcolor-header: #f8f8f8;
    --bgcolor-footer: #1a1a1a;
    --bgcolor-button-hover: #4d4d4d;
    --bgcolor-studio: #1a1a1a;
    --bgcolor-service: #292d33;

    --font-family-open: "Open Sans", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-roboto: "Roboto Condensed", sans-serif;
}
